# Reading in the datasets and importing modules

In [1]:
import pandas as pd
import numpy as np
import glob, os

In [2]:
path = glob.glob("*-house-disburse-detail.csv")
os.rename("2015Q2-house-disburse-detail-updated.csv", "2015Q2-house-disburse-detail.csv")

# General dictionary where all csv files will be read and stored in.

data = {}
    
for eachUTF8 in path:
    try:
        d = pd.read_csv(eachUTF8, encoding="UTF-8", thousands=",")    
        data[eachUTF8] = d
    except:
        pass

# The exception was added because two of the csv files had different encoding.
# The following lines take care of this issue by using a different enconding in pd.read_csv and appending the output
# to the general data dictionary where all cvs are read in.

remaining_ds = ["2018Q1-house-disburse-detail.csv", "2017Q2-house-disburse-detail.csv"]
data_remaining = {}

for each8859 in remaining_ds:
    d = pd.read_csv(each8859, encoding="iso-8859-1", thousands=",")    
    data[each8859] = d

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Notice that "2015Q2 updated" has been renamed directly in the folder for easier manipulation.

df = pd.concat(data, sort=True)
df["AMOUNT"] = pd.to_numeric(df["AMOUNT"], errors="coerce")

## Reading datasets per year

In [4]:
# Since the datasets were very large and it was causing trouble reading a complete dataset of all the years,
# it was decided to divide each year into a dataset.

read_2009 = ['2009Q3-house-disburse-detail.csv',
 '2009Q4-house-disburse-detail.csv']
df_read_2009 = {}

for each in read_2009:
    d = pd.read_csv(each, encoding="UTF-8", thousands=",")
    df_read_2009[each] = d
df_2009 = pd.concat(df_read_2009, sort=True)
    
read_2010 = ['2010Q1-house-disburse-detail.csv',
 '2010Q2-house-disburse-detail.csv',
 '2010Q3-house-disburse-detail.csv',
 '2010Q4-house-disburse-detail.csv']
df_read_2010 = {}

for each in read_2010:
    d = pd.read_csv(each, encoding="UTF-8", thousands=",")
    df_read_2010[each] = d
df_2010 = pd.concat(df_read_2010, sort=True)

read_2011 = ['2011Q1-house-disburse-detail.csv',
 '2011Q2-house-disburse-detail.csv',
 '2011Q3-house-disburse-detail.csv',
 '2011Q4-house-disburse-detail.csv']
df_read_2011 = {}

for each in read_2011:
    d = pd.read_csv(each, encoding="UTF-8", thousands=",")
    df_read_2011[each] = d
df_2011 = pd.concat(df_read_2011, sort=True)

read_2012 = ['2012Q1-house-disburse-detail.csv',
 '2012Q2-house-disburse-detail.csv',
 '2012Q3-house-disburse-detail.csv',
 '2012Q4-house-disburse-detail.csv']
df_read_2012 = {}

for each in read_2012:
    d = pd.read_csv(each, encoding="UTF-8", thousands=",")
    df_read_2012[each] = d
df_2012 = pd.concat(df_read_2012, sort=True)

read_2013 = ['2013Q1-house-disburse-detail.csv',
 '2013Q2-house-disburse-detail.csv',
 '2013Q3-house-disburse-detail.csv',
 '2013Q4-house-disburse-detail.csv']
df_read_2013 = {}

for each in read_2013:
    d = pd.read_csv(each, encoding="UTF-8", thousands=",")
    df_read_2013[each] = d
df_2013 = pd.concat(df_read_2013, sort=True)

read_2014 = ['2014Q1-house-disburse-detail.csv',
 '2014Q2-house-disburse-detail.csv',
 '2014Q3-house-disburse-detail.csv',
 '2014Q4-house-disburse-detail.csv']
df_read_2014 = {}

for each in read_2014:
    d = pd.read_csv(each, encoding="UTF-8", thousands=",")
    df_read_2014[each] = d
df_2014 = pd.concat(df_read_2014, sort=True)

read_2015 = ['2015Q1-house-disburse-detail.csv',
 '2015Q2-house-disburse-detail.csv',
 '2015Q3-house-disburse-detail.csv',
 '2015Q4-house-disburse-detail.csv']
df_read_2015 = {}

for each in read_2015:
    d = pd.read_csv(each, encoding="UTF-8", thousands=",")
    df_read_2015[each] = d
df_2015 = pd.concat(df_read_2015, sort=True)

read_2016 = ['2016Q1-house-disburse-detail.csv',
 '2016Q2-house-disburse-detail.csv',
 '2016Q3-house-disburse-detail.csv',
 '2016Q4-house-disburse-detail.csv']
df_read_2016 = {}

for each in read_2016:
    d = pd.read_csv(each, encoding="UTF-8", thousands=",")
    df_read_2016[each] = d
df_2016 = pd.concat(df_read_2016, sort=True)

read_2017 = ['2017Q1-house-disburse-detail.csv',
 '2017Q2-house-disburse-detail.csv',
 '2017Q3-house-disburse-detail.csv',
 '2017Q4-house-disburse-detail.csv']
df_read_2017 = {}

for each in read_2017:
    d = pd.read_csv(each, encoding="iso-8859-1", thousands=",")
    df_read_2017[each] = d
df_2017 = pd.concat(df_read_2017, sort=True)

read_2018 = ['2018Q1-house-disburse-detail.csv']
df_read_2018 = {}

for each in read_2018:
    d = pd.read_csv(each, encoding="iso-8859-1", thousands=",")
    df_read_2018[each] = d
df_2018 = pd.concat(df_read_2018, sort=True)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 1: "What is the total of all the payments in the dataset?"

In [5]:
df_all = [df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018]

In [6]:
df_2017["AMOUNT"] = pd.to_numeric(df_2017["AMOUNT"], errors="coerce")
total_payments = df_2009["AMOUNT"].sum() + df_2010["AMOUNT"].sum() + df_2011["AMOUNT"].sum() + df_2012["AMOUNT"].sum() + df_2013["AMOUNT"].sum() + df_2014["AMOUNT"].sum() + df_2015["AMOUNT"].sum() + df_2016["AMOUNT"].sum() + df_2017["AMOUNT"].sum() + df_2018["AMOUNT"].sum()

In [7]:
# For easier visualization of results, and organization, all the challenge's answers are being stored in this dict:

results = {}

results["1 - Total payments"] = "$" + str(round(total_payments))

# 2: "What was the average annual expenditure with a 'START DATE' date between January 1, 2010 and December 31, 2016 (inclusive)?"

In [8]:
# As some values are missing in the last csv files from 2017Q2 and 2018Q1, the following list was created for easier
# and faster manipulation of data.

quarters = [
    "2009Q3", "2009Q4", "2010Q1", "2010Q2", "2010Q3", "2010Q4", "2011Q1", "2011Q2", "2011Q3", "2011Q4","2012Q1",
    "2012Q2", "2012Q3", "2012Q4", "2013Q1", "2013Q2", "2013Q3", "2013Q4", "2014Q1", "2014Q2", "2014Q3", "2014Q4",
    "2015Q1", "2015Q2", "2015Q3", "2015Q4", "2016Q1", "2016Q2", "2016Q3", "2016Q4"]

data_upto2016 = [each + "-house-disburse-detail.csv" for each in quarters]

In [9]:
df_upto2016 = {}

for each in data_upto2016:
    d = pd.read_csv(each, thousands=",")
    df_upto2016[each] = d 
    
df_upto2016 = pd.concat(df_upto2016, sort=True)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
# In order to work with dates we had to call the very useful pd.to_datetime module.

df_upto2016["START DATE"] = pd.to_datetime(df_upto2016["START DATE"], infer_datetime_format=True)

In [11]:
df_upto2016.dtypes

AMOUNT                  float64
BIOGUIDE_ID              object
CATEGORY                 object
DATE                     object
END DATE                 object
OFFICE                   object
PAYEE                    object
PROGRAM                  object
PURPOSE                  object
QUARTER                  object
RECIP (orig.)            object
RECORDID                 object
START DATE       datetime64[ns]
TRANSCODE                object
TRANSCODELONG            object
YEAR                     object
dtype: object

In [12]:
# This will filter all the dates from 01/01/2010 (inclusive) until 31/12/2016 (inclusive), 
# and all the positive payments.

df_upto2016 = df_upto2016[
    (df_upto2016["START DATE"] > "31/12/09") &
    (df_upto2016["START DATE"] < "01/01/2017") &
    (df_upto2016["AMOUNT"] > 0)]

df_upto2016["START DATE"].sort_values()

2010Q1-house-disburse-detail.csv  25169    2010-01-01
                                  29129    2010-01-01
                                  61903    2010-01-01
                                  125859   2010-01-01
                                  61878    2010-01-01
                                  61877    2010-01-01
                                  61876    2010-01-01
                                  61875    2010-01-01
                                  91434    2010-01-01
                                  91435    2010-01-01
                                  91436    2010-01-01
                                  61905    2010-01-01
                                  125858   2010-01-01
                                  125856   2010-01-01
                                  91445    2010-01-01
                                  91446    2010-01-01
                                  29062    2010-01-01
                                  29027    2010-01-01
                                  28995    2010-01-01
                                  28994    2010-01-01
                                  28993    2010-01-01
                                  28992    2010-01-01
                                  28991    2010-01-01
                                  125857   2010-01-01
                                  125860   2010-01-01
                                  125861   2010-01-01
                                  125862   2010-01-01
                                  91391    2010-01-01
                                  125873   2010-01-01
                                  29162    2010-01-01
                                              ...
2016Q4-house-disburse-detail.csv  48080    2016-12-31
                                  9232     2016-12-31
                                  12427    2016-12-31
                                  79009    2016-12-31
                                  79007    2016-12-31
                                  64119    2016-12-31
                                  68597    2016-12-31
2016Q3-house-disburse-detail.csv  81869    2016-12-31
2016Q4-house-disburse-detail.csv  80552    2016-12-31
                                  22045    2016-12-31
                                  33515    2016-12-31
                                  66250    2016-12-31
                                  13940    2016-12-31
                                  78550    2016-12-31
                                  78559    2016-12-31
2016Q3-house-disburse-detail.csv  81421    2016-12-31
2016Q4-house-disburse-detail.csv  13945    2016-12-31
                                  77760    2016-12-31
                                  22053    2016-12-31
                                  77752    2016-12-31
                                  30587    2016-12-31
                                  19548    2016-12-31
2016Q3-house-disburse-detail.csv  81426    2016-12-31
2016Q4-house-disburse-detail.csv  39895    2016-12-31
                                  75869    2016-12-31
                                  12833    2016-12-31
                                  39569    2016-12-31
                                  48995    2016-12-31
                                  68978    2016-12-31
                                  11460    2016-12-31
Name: START DATE, Length: 2690189, dtype: datetime64[ns]

In [13]:
number_years = 7
avg_annual_expenditure = round((np.sum(df_upto2016["AMOUNT"]) / number_years))
results["2 - Avg Annual Expenditure between 2010 and 2016"] = "$" + str(avg_annual_expenditure)

# 3: "What was the highest average staff salary among all representatives in 2016? Assume staff sizes is equal to the number of unique payees in the 'PERSONNEL COMPENSATION' category for each representative."

In [14]:
df_2016 = df_upto2016[(df_upto2016["QUARTER"] >= "2016Q1") & (df_upto2016["CATEGORY"] == "PERSONNEL COMPENSATION")]

In [15]:
df_2016["QUARTER"].unique()

array(['2016Q1', '2016Q2', '2016Q3', '2016Q4'], dtype=object)

In [16]:
df_2016["CATEGORY"].unique()

array(['PERSONNEL COMPENSATION'], dtype=object)

In [17]:
df_2016.groupby(["BIOGUIDE_ID"]).mean().sort_values(["AMOUNT"], ascending=False)

results["3 - Highest average staff salary among all representatives in 2016"] = "$14243.39710"

# 4 - What percentage of the expenditures of the top 20 spenders in 2016 come from members of the Democratic Party? Representatives are identified by their 'BIOGUIDE_ID', which can be used to look up representatives with ProPublica's Congress API to find their party affiliation. Consider an expenditure as being in 2016 if its 'START DATE' is in 2016.

In [18]:
# The total number of members was grouped by its total expenditure in 2016

df_party_affiliation = df_upto2016[(df_upto2016["START DATE"] >= "01/01/2016") & (df_upto2016["START DATE"] <= "31/12/2016")]
df_party_affiliation.dropna(subset=["BIOGUIDE_ID"], inplace=True)
df_party_affiliation = df_party_affiliation.groupby(["BIOGUIDE_ID"])["AMOUNT"].sum()

df_party_affiliation = pd.DataFrame(df_party_affiliation)
df_party_affiliation = df_party_affiliation.sort_values("AMOUNT", ascending=False)
df_party_affiliation.reset_index()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

    BIOGUIDE_ID      AMOUNT
0       K000376  2416608.00
1       P000596  1617250.49
2       C001103  1541817.62
3       M000087  1372736.72
4       N000002  1330448.42
5       L000582  1330317.69
6       P000611  1327903.27
7       Z000018  1325314.38
8       Y000033  1320239.12
9       B001278  1318977.90
10      J000296  1315701.20
11      M001197  1308818.29
12      D000621  1308481.90
13      M000404  1305631.91
14      R000588  1305190.33
15      S001150  1301582.11
16      Y000066  1299324.79
17      C001049  1298375.10
18      L000579  1294600.07
19      T000460  1293250.27
20      L000578  1292976.05
21      D000610  1292819.19
22      P000606  1290866.57
23      W000822  1290247.91
24      M001160  1286958.61
25      D000191  1286487.19
26      G000577  1286474.17
27      C000714  1286409.47
28      P000197  1286311.29
29      N000184  1285424.66
..          ...         ...
415     S001187  1066107.20
416     L000567  1061837.87
417     H001063  1061435.98
418     B001292  1058298.67
419     R000593  1055984.10
420     F000372  1054074.10
421     J000289  1053752.41
422     R000570  1053719.34
423     C000266  1041272.75
424     C001078  1041094.69
425     G000563  1037529.09
426     J000255  1034500.86
427     M001150  1032033.46
428     Y000065  1030007.59
429     M001158  1028617.48
430     T000473  1024438.52
431     G000575  1010422.39
432     T000462  1001870.88
433     P000609   973515.37
434     F000043   971948.94
435     F000458   967519.12
436     B001290   921076.38
437     C001051   854262.87
438     W000806   802967.00
439     D000626   550058.24
440     C001108    90865.30
441     H001050    73224.85
442     E000296    49844.99
443     B000589     5398.12
444     G000569     3250.00

[445 rows x 2 columns]

In [19]:
# After sorting the representatives by the amount spent in 2016, the total lenght of the list is checked and a the top
# 20% is added to a new list which will be used to request information from the Propublica Congress API.

members_top20percent = df_party_affiliation[0:89]
members_top20percent = members_top20percent.drop("AMOUNT", axis=1)
members_top20percent = members_top20percent.reset_index()
members_top20percent = members_top20percent["BIOGUIDE_ID"].tolist()

In [20]:
import requests, json

party_affiliation = {}


url = "https://api.propublica.org/congress/v1/members/"
headers = {"X-API-Key" : "k0zGCYYDooXfXPMKhw628lqDbRtZiFZ6ysnnExLU"}

def get_account_info():
    for each in members_top20percent:
        api_url = '{0}'.format(url) + str(each) + ".json".format(url)
        response = requests.get(api_url, headers=headers)

        for i in response.json()['results']:
            for g in i['roles']:
                for j in g['party']:
                    if g["party"] == "D":
                        party_affiliation[each] = "D"

In [21]:
get_account_info()

In [22]:
party_affiliation

{'P000596': 'D',
 'M000087': 'D',
 'N000002': 'D',
 'L000582': 'D',
 'B001278': 'D',
 'M000404': 'D',
 'R000588': 'D',
 'S001150': 'D',
 'C001049': 'D',
 'L000579': 'D',
 'T000460': 'D',
 'D000610': 'D',
 'W000822': 'D',
 'M001160': 'D',
 'D000191': 'D',
 'C000714': 'D',
 'P000197': 'D',
 'W000797': 'D',
 'L000562': 'D',
 'K000368': 'D',
 'D000598': 'D',
 'M001166': 'D',
 'M001163': 'D',
 'M001185': 'D',
 'C001036': 'D',
 'M001191': 'D',
 'L000287': 'D',
 'C001072': 'D',
 'S001145': 'D',
 'L000551': 'D',
 'B000574': 'D',
 'H001038': 'D',
 'H001064': 'D',
 'S000510': 'D',
 'T000465': 'D',
 'G000559': 'D',
 'H001034': 'D',
 'N000127': 'D',
 'F000030': 'D',
 'H001068': 'D',
 'D000216': 'D',
 'P000593': 'D',
 'G000574': 'D',
 'D000197': 'D'}

In [23]:
percentage_top_spending_democrats = round(((len(party_affiliation) / len(members_top20percent))*100), 2)

In [24]:
results["4 - What percentage of the expenditures of the top 20 spenders in 2016 come from members of the Democratic Party?"] = str(percentage_top_spending_democrats) + "%"

# 5: Define the 'COVERAGE PERIOD' for each payment as the difference (in days) between 'END DATE' and 'START DATE'. What is the standard deviation in 'COVERAGE PERIOD'? Only consider payments with strictly positive amounts.

In [25]:
df_coverage = df[(df["END DATE"].notnull()) & (df["START DATE"].notnull()) & (df["AMOUNT"] > 0)]

In [26]:
df_new_coverage = df_coverage[["END DATE", "START DATE"]].copy()

In [ ]:
df_new_coverage["END DATE"] = pd.to_datetime(df_new_coverage["END DATE"], infer_datetime_format=True, errors="coerce")
df_new_coverage["START DATE"] = pd.to_datetime(df_new_coverage["START DATE"], infer_datetime_format=True, errors="coerce")

In [ ]:
df_new_coverage["COVERAGE PERIOD"] = df_new_coverage["END DATE"] - df_new_coverage["START DATE"]
df_new_coverage = df_new_coverage[df_new_coverage["COVERAGE PERIOD"] > pd.Timedelta(0)]
df_new_coverage["COVERAGE PERIOD"].describe()

In [ ]:
results["5 - Define the COVERAGE PERIOD"] = "std = 67 days"

# 6 - Find the 'OFFICE' with the highest total expenditures with a 'START DATE' in 2016. For this office, find the 'PURPOSE' that accounts for the highest total expenditures. What fraction of the total expenditures (all records, all offices) with a 'START DATE' in 2016 do these expenditures amount to?

In [ ]:
df_2016_office = df_upto2016[(df_upto2016["START DATE"] >= "01/01/2016")]
df_2016_office = df_2016_office.groupby(["OFFICE"]).max()
df_2016_office = df_2016_office.sort_values(by=['AMOUNT'], ascending=False)

total_spend_all_offices = df_2016_office["AMOUNT"].sum()

In [ ]:
df_2016_top_office = df_upto2016[(df_upto2016["START DATE"] >= "01/01/2016") & (df_upto2016["OFFICE"] == "GOVERNMENT CONTRIBUTIONS")]
df_2016_top_office = df_2016_top_office.sort_values(by=['PURPOSE'], ascending=False)
df_2016_top_office = df_2016_top_office.groupby(["PURPOSE"]).max()
df_2016_top_office = df_2016_top_office.sort_values(by=['AMOUNT'], ascending=False)
df_2016_top_office

In [ ]:
FERS_expenditure = 7556076.77
percentage_expenditure = (FERS_expenditure / total_spend_all_offices)*100
percentage_expenditure = round(percentage_expenditure, 1)
percentage_expenditure
results["6 - Top spending office"] = "The office with the highest spend is GOVERNMENT CONTRIBUTIONS. The purpose of expense is FERS, and it accounts for a " + str(percentage_expenditure) + "% of the total expenditure of all offices in 2016."

# 7 - What was the median rate of annual turnover in staff between 2011 and 2016 (inclusive)? Turnover for 2011 should be calculated as the fraction of a representative's staff from 2010 who did not carry over to 2011. Only consider representatives who served for at least 4 years and had staff size of at least 5 every year that they served.

In [ ]:
df_2010_2016 = df_upto2016[(df_upto2016["QUARTER"] >= "2010Q1") & (df_upto2016["QUARTER"] <= "2016Q4")]

In [ ]:
# We're keeping only entries where we can identify the Representative

df_2010_2016.dropna(subset=["BIOGUIDE_ID"], inplace=True)

In [ ]:
df_turnover_staff_size = pd.concat([df_2010_2016["BIOGUIDE_ID"], df_2010_2016["PAYEE"], df_2010_2016["QUARTER"], df_2010_2016["YEAR"]], axis=1)
df_turnover_staff_size["YEAR"] = df_turnover_staff_size["YEAR"].astype(int)

In [ ]:
threshold_quarters = 16
# 16 quarters = 4 years
threshold_payees = 5

# After creating a cleaned list ready for analysis, the transform() function was used to filter the list by a minimum of 
# 4 years and minimum staff of 5.

df_turnover_staff_size = df_turnover_staff_size[df_turnover_staff_size.groupby(["BIOGUIDE_ID"])["QUARTER"].transform("nunique") > threshold_quarters]
df_turnover_staff_size = df_turnover_staff_size[df_turnover_staff_size.groupby(["BIOGUIDE_ID", "YEAR"])["PAYEE"].transform("nunique") >= threshold_payees]
df_turnover_staff_size = df_turnover_staff_size.dropna()

In [ ]:
# Due to some discrepancies between the year stated in the QUARTER and YEAR columns, a filter to excluded year < 2009
# was applied in order to minimize error.

df_turnover_staff_size = df_turnover_staff_size[df_turnover_staff_size["YEAR"] > 2008]

In [ ]:
df_turnover_staff_size = df_turnover_staff_size.groupby(["BIOGUIDE_ID", "YEAR"])["PAYEE"].nunique().reset_index()

In [ ]:
df_turnover_staff_size.describe()

In [ ]:
# To calculate the turnover, a subtraction of df_turnover_staff_size["PAYEE"] - df_turnover_staff_size["PAYEE" - 1]
# had to be performed. The problem was that after every last year, for the unique "BIOGUIDE_ID" values, the subtraction
# would mix the first year of one representative with the last year of the previous representative in the list.
# A solution to this issue was to create another dataframe that added a NaN row before and after each unique value in 
# df_turnover_staff_size["BIOGUIDE_ID"]. This way the calculation could be accurately performed without 
# mixing representatives' data with each other.

shifted_df = df_turnover_staff_size.shift(1)
df_turnover_staff_size["TURNOVER"]=(
    pd.Series(
        np.where(
            df_turnover_staff_size["BIOGUIDE_ID"]==shifted_df["BIOGUIDE_ID"],
            df_turnover_staff_size["PAYEE"]-shifted_df["PAYEE"],
            np.NaN
        )
    )
).shift(-1)

In [ ]:
mean_turnover = round(np.mean(df_turnover_staff_size["TURNOVER"]), 10)

In [ ]:
results["7 - What was the median rate of annual turnover in staff between 2011 and 2016 (inclusive)?"] = str(round(mean_turnover, 10))

In [ ]:
results